*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
.Rproj.user
gsemthesis.Rproj
todo.md~
.Rhistory
*~
src/gsemthesis.cls
src/gsemthesis.pdf
example/gsemthesis.cls
example-minimal/gsemthesis.cls
README.html
ctan-submissions_(untracked)
